html, body, #root {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.App {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  flex: 1 0 auto;
  max-width: 800px;
  text-align: left;
}

.PageContainer {
  flex: 1 0 auto;
}

.footer {
  text-align: center;
  flex-shrink: 0;
}

.Head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.Viking-logo {
  height: 80px;
  border-radius: 50%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.React-logo {
  margin-top: 160px;
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  display: flex; 
  flex-direction: column;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
  align-items: center;
  font-weight: normal;
}

.App-title {
  padding-top: 10px;
  font-size: x-large;
  font-weight: normal;
}

.App-intro {
  font-size: large;
  font-weight: normal;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


h3 {
  text-align: center;
}

a.button {
  display: block;
  position: relative;
  float: left;
  width: 120px;
  padding: 0;
  margin: 10px 20px 10px 0;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  border-radius: 5px;
  transition: all 0.2s ;
  font-weight: normal;
}



.btnPurple {
  background: #A74982;
}

.btnFade.btnPurple:hover {
  background: #6D184B;
}

a,
a:visited {
  text-decoration: none;
  color: #A74982;
  cursor: pointer;
}

.clear {
  clear: both;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
